@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .Navbar {
      background-color:#800000;
      display: flex;
      justify-content: right;
      align-items: center;
      position: relative;
      width: 100%;
      border-bottom: 0.15cm solid #D36B00;
    }
    
    /* Style the links inside the navigation bar */
    .Navbar a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 20px 20px;
      text-decoration: none;
      font-size: 17px;
      margin-right:50px;
      word-spacing: normal;
      font-family: 'Poppins', sans-serif;
      
    }
    
    /* Change the color of links on hover */
    .Navbar a:hover {
      background-color: #ddd;
      color: black;
      width: auto;
    }
    .activepage {
        background-color: rgba(255, 255, 0, 0.467);
        color: white;
    }
      .title_logo{
        font-family: 'Roboto Slab', serif;
        font-size: large;
        color:#f2f2f2
    }
    #align-left {
        position:absolute;
        left: 7%;
      }
      
      #align-left1 {
        position:absolute;
        left: 3%;
      }
.title {
    width: 100%;
    height: 16vh;
    background-color: transparent;
    justify-content: center;
    text-align: center;
}
.title a {
    font-size: 30px ;
}
span {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(maroon, maroon);
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
     transition: background-size .7s, background-position .5s ease-in-out;
  }
  
  span:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
  }
.border {
    width: 100%;
    height: 5vh;
    background-color:#D36B00;
}
  .footer1 {
    width: 100%;
    height: 22vh;
    display:inline-block;
    background-color:#800000 ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0.20cm solid #D36B00;
}
.footer-basic ul {
padding:0;
list-style:none;
text-align:center;
font-size:18px;
line-height:1.6;
margin-bottom:0;
}

.footer-basic li {
padding:0 10px;
}

.footer-basic ul a {
color:white;
text-decoration:none;
opacity:0.8;
}

.footer-basic ul a:hover {
opacity:1;
}

.footer-basic .social {
text-align:center;
padding-bottom:25px;
}

.footer-basic .social > a {
font-size:24px;
width:40px;
height:40px;
line-height:40px;
display:inline-block;
text-align:center;
border-radius:50%;
border:1px solid #ccc;
margin:0 8px;
color:white;
opacity:0.75;
}

.footer-basic .social > a:hover {
opacity:0.9;
}

.footer-basic .copyright {
margin-top:15px;
text-align:center;
font-size:13px;
color:#aaa;
margin-bottom:0;
}
nav {
  background-color:#800000;
 width: 100%;
}


.about {
  color: ghostwhite;
  font-size: 21px;
  text-align: left;
  margin-left: 200px;

}